<?php
/**
 * Elgg Profile CSS
 *
 * @package Profile
 */
?>
/* ***************************************
	Profile
*************************************** */
.profile {
	float: left;
	margin-bottom: 15px;
}
.profile .elgg-inner {
	border: 1px solid #DCDCDC;
	border-radius: 3px;
}
#profile-details {
	padding: 15px;
}

/*** ownerblock ***/
#profile-owner-block {
	width: 200px;
	float: left;
	border-right: 1px solid #DCDCDC;
	padding: 15px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-backface-visibility: hidden;
	z-index: 1;
}
#profile-owner-block .large {
	margin-bottom: 10px;
}
#profile-owner-block a.elgg-button-action {
	margin-bottom: 4px;
	display: table;
}
.profile-admin-menu {
	display: none;
}
.profile-admin-menu-wrapper a {
	display: block;
	margin: 3px 0 5px 0;
	padding: 2px 4px 2px 16px;
}
.profile-admin-menu-wrapper:before {
	content: "\00BB";
	float: left;
	padding-top: 1px;
}
.profile-admin-menu-wrapper li a {
	color: #FF0000;
	margin-bottom: 0;
}
.profile-admin-menu-wrapper a:hover {
	color: #000;
}
/*** profile details ***/
#profile-details .wire-status {
	margin-top: 10px;
}
#profile-details .odd {
	border-bottom: 1px solid #DCDCDC;
	margin: 0;
	padding: 5px 0;
}
#profile-details .even {
	border-bottom: 1px solid #DCDCDC;
	margin: 0;
	padding: 5px 0;
}
.profile-aboutme-title {
	margin: 0;
	padding: 5px 4px 2px 0;
}
.profile-aboutme-contents {
	padding: 0;
}
.profile-banned-user {
	border: 1px solid red;
	padding: 4px 8px;
	border-radius: 3px;
}


.sidebar-info {
	display: table;
	width: 200px;
	margin-top: 8px;
	margin-bottom: 3px;
	background-color: rgb(34, 34, 34);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}


sidebar-info li {
	display: list-cell;
	padding: 0;
	margin: 0;
}

.sidebar-info a {
    display: block;
    text-align: center;
    color: #ccc;
	padding-top: 10px;
	padding-bottom: 8px;
}

.sidebar-info a b {
	color: #a9a9a9;
	font-size: 150%;
}

.sidebar-info li a:hover {	
	color: white;
	box-shadow: inset 0px -3px 0px 0px #2e88c4;
 	-moz-box-shadow: inset 0px -3px 0px 0px #2e88c4;
 	-webkit-box-shadow: inset 0px -3px 0px 0px #2e88c4;
}

.sidebar-following {
	width: 200px;
	border-right: 1px solid rgb(34, 34, 34);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.sidebar-followers {
	width: 200px;
	border-right: 1px solid rgb(34, 34, 34);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) inset;
}

.sidebar-blogs {
	width: 200px;
	border-left: 1px solid rgb(34, 34, 34);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) inset;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}



